.intestazionePagina {
    background-color: white;
    text-align: center;
    padding: 10px;
    border: 5px solid red;
    border-radius: 15px;
}

h1.intestazione {
    color: blue;
}

h4.intestazione {
    color: red;
}

.quizDisponibili {
    text-align: center;
    background-color: white;
    border: 5px solid red;
    border-radius: 15px;
    margin-top: 25px;
}

h1.quiz {
    color: blue;
    margin-top: 25px;
}

h2.quiz {
    color: red;
    margin-top: 30px
}

.footer {
    text-align: center;
}

.footerButtons {
    background-color: red;
    color: white;
    text-align: center;
    width: 200px;
    height: 40px;
    margin-top: 25px;
    margin-left: 20px;
    border: 5px solid white;
    border-radius: 15px;
    cursor: pointer;
}

h5.footerH5 {
    color: white;
    padding-top: 40px;
}
