@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <nav class="navbar">
                <NavLink href="/login"><strong>LOGOUT</strong></NavLink>
            </nav>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
