@page "/"
@page "/login"

@inject NavigationManager NavigationManager

<link href="css/login.css" rel="stylesheet"/>

<PageTitle>Login</PageTitle>

<div class="intestazionePagina">
    <h1 class="intestazione"><strong>LOGIN</strong></h1>
    <h4 class="intestazione"><strong>Effettua il login per accedere al nostro sito!</strong></h4>
</div>

<div class="login-container">
    <h2><strong>BENVENUTO!</strong></h2>
    <form>
        <div class="form-group">
            <label for="email"><strong>Email:</strong></label>
            <input type="email" id="email" class="form-control" placeholder="Inserisci qui la tua email" @bind="email" autocomplete="off"/>
        </div>
        <div class="form-group">
            <label for="password"><strong>Password:</strong></label>
            <input type="password" id="password" class="form-control" placeholder="Inserisci qui la tua password" @bind="password"/>
        </div>
        <button type="button" class="btn btn-primary btn-clock" @onclick="login"><strong>LOGIN</strong></button>
    </form>
</div>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="error-message" role="alert">
        @errorMessage
    </div>
}

@code {
    private string? email;
    private string? password;
    private string errorMessage = "";

    private async Task login()
    {
        await Task.Delay(1000);

        if (email == "stefano03@gmail.com" && password == "stefano36" || 
        email == "alessio03@gmail.com" && password == "alessio37" || 
        email == "giacomo04@gmail.com" && password == "giacomo38" || 
        email == "marco05@gmail.com" && password == "marco39" || 
        email == "giada04@gmail.com" && password == "giada40")
        {
            NavigationManager.NavigateTo("/home");
        }
        else
        {
            errorMessage = "CREDENZIALI NON VALIDE! RIPROVA!";
        }
    }
}
