@page "/markZuckerberg"

<link href="css/markzuckerberg.css" rel="stylesheet"/>

<PageTitle>Mark Zuckerberg</PageTitle>

<div class="intestazionePagina">
    <h1 class="intestazione"><strong>MARK ZUCKERBERG</strong></h1>
    <h4 class="intestazione"><strong>"Move fast and break things"</strong></h4>
</div>

<div class="imageZuckerberg">
    <img src="images/Mark Zuckerberg.jpg" alt="Foto di Mark Zuckerberg" class="section"/>
</div>
<div class="zuckerbergStory">
    <h1 class="section"><strong>LA STORIA DI MARK ZUCKERBERG</strong></h1>
    <h3 class="section">
        <strong>
            Mark Zuckerberg è nato il 14 maggio 1984 a White Plains, New York. È il co-fondatore e CEO di Facebook, una delle più grandi piattaforme di social media al mondo. 
            Ha lanciato Facebook nel 2004 mentre frequentava Harvard University. 
            Da allora, Facebook è cresciuta enormemente diventando un pilastro della vita online moderna. 
            Zuckerberg è anche noto per le sue iniziative filantropiche tramite la Chan Zuckerberg Initiative. 
            Dopo il successo iniziale di Facebook, Zuckerberg ha lasciato Harvard per concentrarsi sullo sviluppo del sito a tempo pieno. 
            Ha affrontato numerose controversie legate alla privacy e alla sicurezza dei dati nel corso degli anni.
        </strong>
    </h3>
</div>

<div class="footer">
    <h3 class="footerH3"><strong>Per ulteriori informazioni visita la pagina Wikipedia di <a href="https://it.wikipedia.org/wiki/Mark_Zuckerberg">MARK ZUCKERBERG</a></strong></h3>
    <h5 class="footerH5"><strong>Fondatori social media => <NavLink href="/fonadatoriSocial">I 5 FONDATORI</NavLink></strong></h5>
</div>

@code {

}
